<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OrdersPath" value="d:\Orders"/>
		<add key="MaxDegreeOfParalellism" value="4"/>
	</appSettings>
	<connectionStrings>
		<add name="OrdersDb" connectionString="Server=.;Database=Northwind;Trusted_Connection=True;" />
	</connectionStrings>
</configuration>